// ESLint is a pluggable linter that helps enforce JavaScript and React code rules.
//
// This file is not strict JSON, and allows comments.
// http://eslint.org/
//
{
  // Extend Airbnb's JavaScript style guidelines - 
  // https://github.com/airbnb/javascript
  // https://www.npmjs.com/package/eslint-config-airbnb
  "extends": "airbnb",
  //
  // Specify parser to use - this allows you to use ES7+ syntax
  // TODO: turn this on and adjust options to match our project - see the link below for more rules
  // See https://github.com/reactjs/react-modal/blob/master/.eslintrc
  "parser": "babel-eslint",
  // "parserOptions": {
  //   "ecmaVersion": 7,
  //   "ecmaFeatures": {
  //     "experimentalObjectRestSpread": true,
  //     "jsx": true
  //   },
  //   "sourceType": "module"
  // },
  //
  // Add plugins to catch more errors
  "plugins": [
    "react", // React-specific rules https://www.npmjs.com/package/eslint-plugin-react
    "jsx-a11y", // Web accessibility rules https://github.com/evcohen/eslint-plugin-jsx-a11y
    "import", // Support import/export statements https://www.npmjs.com/package/eslint-plugin-import
    "jest"
  ],
  //
  // Define environments available to code
  // http://eslint.org/docs/user-guide/configuring#specifying-environments
  "env": {
    "es6": true, // Allow ES6 syntax, except for modules
    "node": true, // Allow node.js global variables and scoping
    "browser": true,
    "jest/globals": true
  },
  //
  // Additional rules
  "rules": {
    "arrow-parens": "off",
    "arrow-body-style": "off",
    // http://eslint.org/docs/rules/brace-style
    "brace-style": [ // somehow this is causing inconsistencies! Removing it temporarily/permanently
      "error",
      "1tbs" // one true brace style
    ],
    "comma-dangle": "error",
    "import/extensions": "off",
    "import/first": "off", // was flagging mixed relative and absolute imports, which we do
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/interactive-supports-focus": "off", // flagged spans etc with role="button"
    // http://eslint.org/docs/rules/max-len
    "max-len": "off", // too many cases where it's nice to have long lines
    // "max-len": [
    //   "error",
    //   {
    //     "code": 120,
    //     "ignoreStrings": true,
    //     "ignoreUrls": true,
    //     "ignoreTrailingComments": true
    //   }
    // ],
    "no-console": "off",
    "no-mixed-operators": "off", // was flagging dx*dx+dy*dy etc
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ], // was flagging i++ in for loops
    "no-restricted-syntax": "off", // was flagging for...of statement
    "no-return-assign": "off", // was flagging reference assignment, a standard thing in react
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "off", // was flagging _foo variables/fns
    "no-unused-vars": "error",
    "no-use-before-define": "off",
    "object-shorthand": "off", // was flagging use of 'function' when sometimes like using it
    "padded-blocks": "off",
    "prefer-const": "off",
    "prefer-template": "off",
    "quotes": "off",
    "quote-props": "off", // was flagging dicts with mix of things like 'Austin' 'Round Rock' etc
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".test.js",
          ".js",
          ".jsx"
        ]
      }
    ],
    // "react/jsx-first-prop-new-line": [
    //   "multiline",
    //   "error"
    // ],
    "react/prop-types": "off", // was flagging missing proptype validation, which we don't care about
    "spaced-comment": "off", // was flagging //. comments
    "valid-typeof": "off"
  }
}
