body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 80vh; */
  /* padding-top: 1em; */
  background: black;
  color: green;
}

.terminal-base {
  font-weight: bold;
  font-size: 1em;
  height: 100vh;
  min-height: 100vh;
}
