body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: green;
  font-family: garamond, serif;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 80vh; */
  /* padding-top: 1em; */
}

/* 
.terminal-base {
  font-weight: bold;
  font-size: 1em;
  height: 100vh;
  min-height: 100vh;
} */


.signin {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.signin button {
  font-size: 0.8em;
  color: #777;
  background: black;
  border: 1px solid #333;
  padding: 1px 10px;
  font-family: georgia, serif;
}
.signin button:hover {
  /* background: #181818; */
  color: #aaa;
}

.firebaseui-idp-button {
  background-color: #ddd !important;
}
.firebaseui-idp-button:hover {
  background-color: #eee !important;
}
.firebaseui-idp-text {
  color: #555 !important;
}


