
.terminal-input {
  width: 100%;
}
.terminal-input input {
  border: none;
  background: black;
  color: green;
  width: 95%;
  display: inline-block;
  border: 1px dotted #333;
}

.terminal-post-createdAt {
  color: #555;
  font-size: 0.7em;
}

.terminal-post-userName {
  color: #777;
  margin-left: 0.5em;
  font-size: 0.7em;
}

.terminal-post-text {
  margin-left: 0.5em;
  /* color: gray; */
  /* margin-right: 1em; */
}
