
.terminal input {
  border: none;
  background: black;
  color: green;
}

.terminal-post-createdAt {
  color: #555;
  font-size: 0.9em;
}

.terminal-post-userName {
  color: #777;
  margin-left: 0.5em;
  font-size: 0.9em;
}

.terminal-post-text {
  margin-left: 0.5em;
  /* color: gray; */
  /* margin-right: 1em; */
}
